#mapa{
<<<<<<< Updated upstream
    width: 1000px; 
    height: 600px;
=======
    width: 700px; 
    height: 400px;
>>>>>>> Stashed changes
    padding: 25px;
    margin-left: 25px;
    margin-bottom: 70px;
}


